<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>gif viewer</title>
  <script type="text/javascript" src="../node_modules/libgif/libgif.js"></script>
  <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../node_modules/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="../node_modules/jszip/dist/jszip.min.js"></script>
  <script type="text/javascript" src="../node_modules/tiny-emitter/dist/tinyemitter.min.js"></script>
  <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
  <style>
    [v-cloak] {
      display: none;
    }

    body {
      margin: 0;
    }

    * {
      box-sizing: border-box;
    }

    #app {
      padding-top: 10px;
    }

    .playground {
      margin: 0 auto;
      background-color: #f7f7f7;
      aspect-ratio: 1.6;
      min-width: 300px;
      max-width: 500px;
      position: relative;
    }

    .count-bar {
      position: absolute;
      bottom: 10px;
      right: 10px;

      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      font-size: 12px;
      height: 18px;
      border-radius: 9px;
      padding: 0 5px;
    }

    .placeholder {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    .btn-group {
      padding-bottom: 30px;
    }

    .center-box {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    [type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      opacity: 0.01;
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
    }

    #bucket {
      overflow: hidden;
      width: 0;
      height: 0;
      opacity: 0;
    }
  </style>

  <!-- region tools -->
  <script type="text/javascript">
    function createImage(url) {

      return new Promise(resolve => {
        const img = new Image()
        img.onload = resolve.bind(null, img)
        img.onerror = resolve.bind(null, null)
        img.src = url
      })
    }

    const createUrl = (function () {
      let url
      return function (blob) {
        url && URL.revokeObjectURL(url)
        url = URL.createObjectURL(blob)
        return url
      }
    })()

    function dataURItoBlob(dataURI) {
      var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0] // mime类型
      var byteString = atob(dataURI.split(',')[1]) //base64 解码
      var arrayBuffer = new ArrayBuffer(byteString.length) //创建缓冲数组
      var intArray = new Uint8Array(arrayBuffer) //创建视图

      for (var i = 0; i < byteString.length; i++) {
        intArray[i] = byteString.charCodeAt(i)
      }
      return new Blob([intArray], { type: mimeString })
    }

    const sleep = time => new Promise(resolve => setTimeout(resolve, time))

    const download = (href, filename) => {
      const eleLink = document.createElement('a')
      eleLink.download = filename
      eleLink.href = href
      eleLink.click()
    }

    const { Message, Loading } = ELEMENT
    const error = Message.error

    const loading = msg => {
      const ins = Loading.service({
        fullscreen: true,
        text: msg,
      })

      return ins.close.bind(ins)
    }

  </script>
  <!-- endregion -->
  <!-- region node modules -->
  <script type="text/javascript">
    const event_bus = new TinyEmitter()

    function listen() {
      if (!window.utools) return
      if (!window.tools) return
      utools.onPluginEnter(async () => {
        try {
          const [gif] = utools.getCopyedFiles()
          if (!gif || !gif.isFile) return error('仅支持GIF图片')
          const { path, name } = gif
          if (!/\.gif/i.test(name)) return error('仅支持GIF图片')
          const base64 = await tools.readFile(path)

          const blob = dataURItoBlob(base64)

          const file = new File([blob], name, { type: 'image/gif' })

          event_bus.emit('enter', { file })
        } catch (e) {
          console.log('error', e)
        }

      })
    }

    listen()
  </script>
  <!--endregion-->
  <!--  region gif/zip module -->
  <script type="text/javascript">
    async function getGIFFrames(url) {
      const list = []
      const bucket = document.createElement('div')
      bucket.id = 'bucket'
      const img = new Image()
      bucket.appendChild(img)
      document.body.appendChild(bucket)

      const gif = new SuperGif({
        gif: img,
        auto_play: 0,
      })

      await new Promise(r => gif.load_url(url, r))

      for (let i = 1; i <= gif.get_length(); i++) {
        gif.move_to(i)
        list.push(
            gif.get_canvas()
                .toDataURL('image/jpeg', 1),
        )
      }
      console.log(list[0] === list[1])

      bucket.remove()
      return list
    }

    async function zipFile(imgList) {
      const list = [...imgList]
      let index = 0
      while (list.length) {
        const now = list.shift()
        const zip = new JSZip()
        zip.file(`${ index++ }.jpg`, now.replace(/^data:image\/(png|jpe?g|gif);base64,/, ''), { base64: true })
      }
      const content = await zip.generateAsync({ type: 'blob' })

      const filename = 'now' + '.zip'
      const href = URL.createObjectURL(content)
      download(href, filename)
      URL.revokeObjectURL(eleLink.href)
    }
  </script>
  <!-- endregion -->
</head>
<body>

<div id="app" v-cloak>
  <div class="btn-group center-box">
    <el-button title="快捷键：<" @click="frameTo(-1)" :disabled="!movable"><</el-button>
    <el-button title="快捷键：空格" @click="switchPlay" :disabled="!gifEnable">{{ stateText }}</el-button>
    <el-button title="快捷键：>" @click="frameTo(1)" :disabled="!movable">></el-button>
    <el-button title="快捷键：Enter" @click="downloadFrames" :disabled="!gifEnable">导出</el-button>
  </div>
  <div class="playground center-box" :style="`aspect-ratio: ${ratio}`">
    <img :src="currentUrl" alt="" ref="img">
    <input type="file" @change="onLoadFile" accept="image/gif">
    <div class="placeholder center-box" v-if="!gifEnable">拖动GIF图片到此处，暂停时可按键逐帧播放</div>
    <div class="count-bar center-box" v-if="!playing">{{ indexText }}</div>
  </div>
</div>

<div id="bucket"></div>
<script type="text/javascript">

  new Vue({
    el: '#app',
    data() {
      return {
        playing: false,
        current: 0,
        ratio: 1.6,
        imgList: ['data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'],
      }
    },
    computed: {
      total() {
        return this.imgList.length
      },
      currentUrl() {
        return this.imgList[this.current]
      },
      gifEnable() {
        return this.total > 1
      },
      movable() {
        return this.gifEnable && !this.playing
      },
      stateText() {
        return ['播放', '暂停'][+this.playing]
      },
      indexText() {
        if (!this.total) return '-/-'
        return [this.current + 1, this.total].join('/')
      },
    },

    watch: {
      playing(now) {
        if (now) {
          this.stop = this.play()
        }
        else {
          this.stop && this.stop()
          this.stop = undefined
        }
      },
    },

    created() {
      this.listenKeyPress()
      event_bus.on('enter', ({ file }) => {
        console.log('enter')
        if (!file) return error('仅支持GIF图片')
        this.handleGIFFile(file)
        console.log('enter with file', file)
      })
    },

    methods: {

      play() {
        let stop = false

        const frame = () => {
          this.current++
          if (this.current === this.total) {
            this.current = 0
          }
        }

        async function loop() {
          while (!stop) {
            await sleep(100)
            frame()
          }
        }

        loop()
        return () => {
          stop = true
        }
      },

      listenKeyPress() {
        const next = this.frameTo.bind(this, 1)
        const prev = this.frameTo.bind(this, -1)
        const keyMap = {
          ArrowRight: next,
          ArrowDown: next,
          ArrowUp: prev,
          ArrowLeft: prev,
          Space: this.switchPlay,
          Enter: this.downloadFrames,
        }
        document.onkeydown = e => {
          e.preventDefault()
          keyMap[e.code]?.call(this)
        }
      },

      async createGif(img) {
        const bucket = document.getElementById('bucket')
        bucket.innerHTML = ''
        bucket.appendChild(img)
        if (!this.gif) {
          await sleep(20)
          this.gif = new SuperGif({
            gif: img,
            auto_play: 0,
          })
        }

        return this.gif
      },

      frameTo(directive) {
        if (!this.movable) return
        // 倒放到第一帧
        const moveToLasted = this.current === 0 && directive === -1

        const moveToFirst = this.current === this.total - 1

        if (moveToLasted) {
          this.current = this.total - 1
        }
        else if (moveToFirst) {
          this.current = 0
        }
        else {
          this.current += directive
        }
      },

      switchPlay() {
        if (!this.gifEnable) return
        this.playing = !this.playing
      },

      onLoadFile(e) {
        const [file] = e.target.files
        if (!file) return
        if (!/\.gif$/.test(file.name)) return error('仅支持GIF图片')

        this.handleGIFFile(file)
            .finally(() => {
              e.target.value = null
            })
      },

      async handleGIFFile(file) {
        const close = loading('处理中...')

        try {
          const url = createUrl(file)
          const img = await createImage(url)
          if (img) {
            this.ratio = img.width / img.height
          }

          this.imgList = await getGIFFrames(url)
          this.current = 0
          this.playing = true
        } catch (e) {
        }

        close()

      },

      async downloadFrames() {
        if (!this.gifEnable) return
        try {
          await zipFile(this.imgList)
        } catch (e) {
          console.log(e)
        }
      },
    },
  })
</script>

</body>
</html>
